body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

div {
  font-family: verdana;
  font-size: 20px;
}

div.player1 {
  font-family: verdana;
  font-size: 30px;
}