body {
  background-color: white;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

div {
  font-family: verdana;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-style: solid;

}

div.div0 { 
  color: black;
  background-color: #ffffff; 
  position: relative;
  left: 0px;
  width: 300px;
}

div.div1 {
  color: black;
  background-color: #ffffff;
  position: relative;
  left: 375px;
  width: 300px;
}

div.div2 {
  color: black;
  background-color: #cccccc; 
  position: relative;
  left: 0px;
  width: 300px;
}

div.div3 {
  color: black;
  background-color: #cccccc;
  position: relative;
  left: 375px;  width: 300px;
}  

div.div4 {
  color: black;
  background-color: #ffffff; 
  position: relative;
  left: 0px;
  width: 300px;
}

div.div5 {
  color: black;
  background-color: #ffffff;
  position: relative;
  left: 375px;  
  width: 300px;
}

div.div6 {
  color: black;
  background-color: #cccccc; 
  position: relative;
  left: 0px;
  width: 300px;
}

div.div7 {
  color: black;
  background-color: #cccccc;
  position: relative;
  left: 375px;  
  width: 300px;
}

div.div8 {
  color: black;
  background-color: #ffffff; 
  position: relative;
  left: 0px;
  width: 300px;
}

div.div9 {
  color: black;
  background-color: #ffffff;
  position: relative;
  left: 375px;
  width: 300px;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

button {
	background-color:#1e59bd;
	border-radius:7px;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:normal;
	padding:9px 39px;
	text-decoration:none;
  text-shadow:0px 1px 0px #283966;
  margin-top: 20px;
}
button:hover {
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}