<!DOCTYPE html>
<html>
  <head>
    <script src="bundle.js"></script>
    <script type="text/javascript">
      function update() {
        EntryPoint.getGame().then(gameState => {
          let element = document.getElementById("game_state");
          element.textContent = JSON.stringify(gameState.data);
        })
      }
      window.onload = update;
    </script>
  </head>
  <body>
    <p id="game_state">
      There are no players, so there's no game.
    </p>
  </body>
</html>
