<!DOCTYPE html>
<html>
<head>
  <script src="bundle.js"></script>
  <script type = "text/javascript">
    let userID;
    let gameState;

    function update(userID) {
      EntryPoint.getGame(userID).then(response => {
        userID = response.data.me;
        gameState = response.data.game;
        console.log("User ID is: " + userID);
        console.log("Game state is: " + JSON.stringify(gameState));

      });
    }
    update(userID);
  </script>
  
</head>

<body>



</body>
</html>
