<!DOCTYPE html>
<html>
<head>
  <script type = "text/javascript">
    let userID;

    function getGame(userID) {
      EntryPoint.getGame('/games?userID=' + userID).then(response => {
        console.log(response);
      }).catch (error) {
        console.error(error);
      }
    }

  </script>
  <script src="bundle.js"></script>
</head>

<body>



</body>
</html>
