<!DOCTYPE html>
<html>
<head>
  <title>Liar's Dice</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" >
  <script src="bundle.js"></script>
  <script type = "text/javascript">
    window.onload = EntryPoint.initialize;
  </script>
</head>
<body> 
  <div id="main">
    <div id="game" class = "game">
      <div id="dicecount"></div>
      </div>
    </div>
    <div class = "bids" id = "bids">
      <div class = "previousbid" id="previousbid">
        <div class = "pBidDiceAmt" id="pBidDiceAmt">
        </div>
        <div class = "pBidDiceVal" id="pBidDiceVal">
        </div>
      </div>
      <div class = "bidengine" id="bidengine">
      </div> 
    </div>
  </div>
          
  </div>
  <div id="observer"></div>
</body>
</html>
