<!DOCTYPE html>
<html>
<head>
  <title>Liar's Dice</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" >
  <script src="bundle.js"></script>
  <script type = "text/javascript">
    window.onload = EntryPoint.initialize;
  </script>
</head>
<body> 
  <div id="game"></div>
  <div id="observer"></div>
</body>
</html>
